.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;

  @media (max-width: 1350px) {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
  }
}
