* {
    font-family: Montserrat;
}

a.active {
    color: #8F1CC6;
    font-size: 30px;

    @media (max-width: 1350px) {
        font-size: 25px;
    }

    @media (max-width: 1100px) {
        font-size: 20px;
    }

    @media (max-width: 768px) {
        font-size: 15px;
    }
}

.header {
    
    margin: 40px 0 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;

    @media (max-width: 1350px) {
        gap: 50px;
    }

    @media (max-width: 1100px) {
        gap: 30px;
    }

    @media (max-width: 768px) {
        gap: 22px;
    }
}

.right {
    display: flex;
    align-items: center;
    gap: 70px;

    @media (max-width: 1350px) {
        gap: 50px;
    }

    @media (max-width: 1100px) {
        gap: 30px;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.headerText {
    color: white;
    font-size: 30px;

    @media (max-width: 1350px) {
        font-size: 25px;
    }

    @media (max-width: 1100px) {
        font-size: 20px;
    }

    @media (max-width: 768px) {
        font-size: 15px;
    }
}

.btn {
    font-size: 30px;
    color: white;
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;

    @media (max-width: 1350px) {
        font-size: 25px;
    }

    @media (max-width: 1100px) {
        font-size: 20px;
    }

    @media (max-width: 768px) {
        font-size: 15px;
    }
}

.inp {
    background-image: url('../../assets/search.svg');
    background-position: right 18px bottom 7px;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 303px;
    height: 38px;
    padding: 0 0 0 23px;
    color: #620190;
    font-size: 14px;
    border: none;

    @media (max-width: 1350px) {
        width: 270px;
        height: 34px;
        background-position: right 18px bottom 4px;
    }

    @media (max-width: 1100px) {
        width: 240px;
        height: 30px;
        background-position: right 18px bottom 2px;
        background-size: 11%;
    }

    @media (max-width: 768px) {
        width: 230px;
        height: 27px;
        background-position: right 18px bottom 2px;
        background-size: 10%;
    }

    &::placeholder {
        color: #620190;
    }

    &:hover,
    &:focus {
        outline: 2px solid #620190;
    }
}

.logo {
    width: 95px;
    height: 95px;
    margin-right: 100px;

    @media (max-width: 1350px) {
        width: 70px;
        height: 70px;
        margin-right: 50px;
    }

    @media (max-width: 1100px) {
        width: 60px;
        height: 60px;
        margin-right: 50px;
    }

    @media (max-width: 768px) {
        margin-right: 0;
        width: 40px;
        height: 40px;
    }
}

.burger {
    display: none;

    @media (max-width: 1350px) {
        display: block;
    }

    @media (max-width: 1100px) {
        display: block;
    }

    @media (max-width: 768px) {
        display: block;
    }
}

.burger div {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.menu {
    display: flex;
    gap: 30px;

    @media (max-width: 1350px) {
        gap: 25px;
    }

    @media (max-width: 1100px) {
        gap: 20px;
    }

    @media (max-width: 768px) {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #454545;
        padding: 20px;
        align-items: center;
        z-index: 1;
    }
}

.menu.open {
    display: flex;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;

    @media (max-width: 1350px) {
        width: 80px;
        height: 80px;
    }

    @media (max-width: 1100px) {
        width: 60px;
        height: 60px;
    }

    @media (max-width: 768px) {
        width: 40px;
        height: 40px;
    }
}
